.post {
    height: 40%;
    background-color: #efefef;
    width: 100%;
}
.post:after{
    clear: both;
}
.indexpost:hover
{
    background-color:  #ffffff;
}
.subject{
    margin-left: 1%;
}
.header{
    width: 100%;
    background-color: #303030;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 5%;
}
.header::after{
    clear: both;
}
#input{
    margin-left: 1%;
}
.indexbutton{
    background-color: #e2454a;
    border-width: 0px;
    color: #ffffff;
    margin-top: 1%;
    padding-top: 0.3%;
    padding-bottom: 0.2%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    border-radius: 5px;
}
.indexbutton:hover
{
    background-color: #f15459;
}
.hbutton{
    border-radius: 0;
    padding-top: 0%;
    padding-bottom: 0%;
    background-color: #303030;
    border-width: 0px;
    border-right-width: 2px;
    color: #ffffff;
    width: 10%;
    height: 100%;
}
.hbutton:hover
{
    background-color: #3f3f3f;
}

.hlbutton{
   
}
.hrbutton{
    border-left-width: 2px;
    border-right-width: 0px;
    float: right;
}

.aa{
    width: 99%;
    margin-left: 5px;
}

.profile {
    margin-left: 1%;
    width: 29%;
    float: left;
    height: 100%;
}
.postImage{
    float:right;
    height:85%;
    max-width: 100%
}
.text {
    width: 69%;
    float: right;
    height: 100%;
}
body{
    margin-top: 0px;
    margin-left:0px;
    width: 100%;
    font-family: "Times New Roman", Times, serif;
    background-color: #dadada;
}
.profilepic {
    width: 25%;
    max-height: 50%;
}

.ctext {
    height: 100%;
}

.cprofile {
    height: 100%;
}

.error {
    background-color: red;
    margin-bottom: 25px;
}

.input {
    margin-top: 10px;
    width: 100%;
    height: 15%;
}

.comment {
    margin-left: 20%;
    width: 60%;
    height: auto;
}
.loginbutton{
    background-color: #e2454a;
    border-width: 0px;
    color: #ffffff;
    width: 35%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-radius: 5px;
}
.signupbutton{
    background-color: #e2454a;
    border-width: 0px;
    color: #ffffff;
    width: 35%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-radius: 5px;
}
.pbutton{
    background-color: #e2454a;
    border-width: 0px;
    color: #ffffff;
    width: 27%;
    padding-top: 0.3%;
    padding-bottom: 0.2%;
    border-radius: 5px;
}
.pbutton:hover
{
    background-color: #f15459;
}
.aabutton
{
    background-color: #e2454a;
    border-width: 0px;
    color: #ffffff;
    width: 5%;
    padding-top: 0.3%;
    padding-bottom: 0.2%;
    border-radius: 5px; 
}
.aabutton:hover
{
    background-color: #f15459;
}
.inputbutton
{
    background-color: #e2454a;
    border-width: 0px;
    color: #ffffff;
    width: 5%;
    padding-top: 0.3%;
    padding-bottom: 0.2%;
    border-radius: 5px; 
    margin-left: 0.3%;
}
.inputbutton:hover
{
    background-color: #f15459;
}

.button {
    margin-top: 10px;
}

.navigation {
    text-align: right;
    vertical-align: middle;
    padding-right: 3%;
    font-size: 20px;
    padding-top: 1%;
}

.pic {
    float: right;
    max-height: 100%;
    width: auto
}
.postrow{
    margin-top:25px;
    width:100%;
    height:25%;
}
.block{
    width: 18%;
    margin-left: 5%;
    float: left;
    text-align: center;
    height: 100%;
}
.listpic{
    max-width:80%;
    max-height:90%
}
.uploads{
    width:100%;
    
}
.login{
    padding-left: 1%;
    padding-top:0.5%;
    padding-right:1%;
    padding-bottom: 0.5%;
    width:10%;
    text-align:left;
    margin-left:45%;
    margin-top:5%;
    background-color: #f5f5f5;
}
